<!--The content below is only a placeholder and can be replaced.-->

  <div class="container">
    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li>
          <a routerLinkActive="active" routerLink="create">Create Employee</a>
        </li>
        <li>
            <a routerLinkActive="active" routerLink="list">List Employee</a>
          </li>

      </ul>
    </nav>
      <!-- <ul>
          <li><h1>Angular 7 Application</h1></li>
          <li> First Name:<input type="text" class="form-class"name="firstname" [(ngModel)]="firstName"></li>
          <li> Last Name:<input type="text" name="lastname" [(ngModel)]="lastName"></li>
          <li><button class="btn btn-primary" [disabled]="submitButton" (click)="submitData()">Submit</button></li>
        </ul> -->
  </div>

 <br>
{{text | titlecase}}
<router-outlet></router-outlet>
